@charset "UTF-8";
/* CSS Document */

body {
	background-color: #000;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-image: url(../images/bg1.jpg);
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	background-repeat: no-repeat;
	background-position: center top;
}
#cont{
	width: 800px;
	text-align: left;
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
}
a:link,a:visited {
	color: #FF6600;
	text-decoration: underline;
}
a:hover {
	color: #999;
}
h1 {
background-color:#fff;
padding:20px;
color:#d77831;
text-align:left;
font-size:32px;
margin:0px;
}
h3 {
	font-size: 12px;
	background-color: #000000;
	margin: 0px;
	padding: 10px;
	color: #d77831;
}
h3 a {
float:right;
font-weight:normal;
display:block;
}
th {
text-align:center;
background-color:#d77831;
color:#fff;
padding:4px;
font-weight:normal;
font-size:12px;
}
td {
font-size:12px;
padding:3px;
text-align:left;
}
tr {background: #fff}
tr:nth-child(odd) {background: #f0f0f0}
#footer {
	background-color: #d77831;
	padding: 10px;
}
.pager,.pager a {
	background-color: #d77831;
	color: #fff;
	padding: 3px;
}
.lhead {
background-color:#fff;
padding:3px;
font-weight:bold;
font-size:16px;
}
.lpart {
background-color:#f0f0f0;
padding:0px;
}
.lpage {
font:normal 12px verdana;
}
.lcount {
	background-color: #d77831;
	color: #fff;
	padding: 2px;
	margin: 2px;
	font: bold 12px verdana;
}
a.aemphasis {
color:#009;
font-weight:bold;
}
